img.smallman {
	display:inline-block;
	width:11px !important;
	height:24px !important;
	padding-left: 1px;
	padding-right: 1px;
	cursor:pointer;
	-webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;

}

.smallman-bigger{
	display:inline-block;
	width:26px !important;
	height:51px !important;
	padding-left: 3px;
	padding-right: 3px;
	cursor:pointer;
	-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}



div.tooltip-inner{
	max-width: 550px;

}
.tooltip.top{
	font-size:20px;
	white-space: nowrap;

}